In [ ]:
##function is a block of code that is used to do repeated task and it will execute 
# only when it is called
##2 types of functions
##1. user defined functions
##2. built in functions

In [ ]:
##user defined functions
def hello():
    #block of code 
    print("hello from the function")

hello() ##calling a function

hello from the function

In [3]:
def addd():
    a = 10 
    b = 20 
    c = a+b 
    print(c)
    
addd()

30

In [8]:
##parameter and argument
def addd(a,b):
    print(a+b)

addd(78238217,127382173812)

127460412029

In [13]:
##arbitary arguments  --- args -- *
def child(*kids):
    print("the youngest child is " + kids[2])

child("mohan","rohan","ram")

the youngest child is ram

In [ ]:
##keyword arguments -- 
def child(child1,child2,child3):
    print("the youngest child is " + child3)

child(child3="mohan",child2="rohan",child1="ram")

In [16]:
#arbitary keyword arguments -- **kwargs

def child(**kids):
    print("the youngest child is " + kids["child3"])

child(child3="mohan",child2="rohan",child1="ram")

the youngest child is mohan

In [19]:
##default parameter value
def hobby(name="coding"):
    print("my hobby is " + name)

hobby("cricket")
hobby()

my hobby is cricket
my hobby is coding

In [ ]:
#passing list as an argument
def lst(name):
    for i in name:
        print(i)

lst(["mohan","rohan","ram"])

mohan
rohan
ram

In [23]:
##avg function
def avgg(name):
    print(sum(name)/len(name))

avgg([1,2,3,4,5])

3.0

In [ ]:
##lambda function --- small anonymous functions
##lambda arguments : expression

In [5]:
x = lambda a : a*a
x(5)

25

In [11]:
##map --- map(function,iterable)
# def sq(num):
#     return num*num

lst = [1,2,3,4,5]
result = map(lambda num : num*num,lst)
print(list(result))

[1, 4, 9, 16, 25]

In [2]:
##filter --- filter(function,iterable)
lst = [1,2,3,4,5]
result = filter(lambda num : num%2==0,lst)
print(list(result))

[2, 4]

In [3]:
from functools import reduce

In [4]:
##reduce 


lst = [1,2,3,4,5]
result = reduce(lambda num1,num2 : num1+num2,lst)
print(result)

15

In [ ]:
#ffrom left to right 
# [3,3,4,5] -- [6,4,5] -- [10,5] -- [15]

In [16]:
##enumerate
lst = ["mohan","rohan","ram"]
result = enumerate(lst,start=10)
print(list(result))

[(10, 'mohan'), (11, 'rohan'), (12, 'ram')]

In [19]:
##zip function -- it is used to combine two or more iterables
lst1 = ["mohan","rohan","ram"]
lst2 = [1,2,3]
result = zip(lst1,lst2)
print(list(result))

[('mohan', 1), ('rohan', 2), ('ram', 3)]

In [21]:
zipped = [('mohan', 1), ('rohan', 2), ('ram', 3)]
result ,number= zip(*zipped)
print(list(result))
print(list(number))

['mohan', 'rohan', 'ram']
[1, 2, 3]